[Unit]
Description=Squashfused server

[Service]
Type=simple
ExecStart=/usr/local/libexec/squashfused/server
Restart=always

[Install]
WantedBy=multi-user.target
