[Unit]
Description=Squashfused server

[Service]
Type=Simple
ExecStart=/usr/local/libexec/squashfused/server
Restart=Always

[Install]
WantedBy=multi-user.target
